@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #21571f;
    display: flex;
    height: 15vh;
    padding: 3px 40px;
    justify-content:space-between;
    align-items: center;
}
body {
    background-color: white;
}
.logo {
    cursor: pointer;
    width: 180px;
    height: auto;
}
 nav ul {
    display: flex;
    list-style: none;
    align-content:center;
}

nav ul li {
    letter-spacing: 2px;
    padding: 0 50px;
}
nav ul li a {
 text-decoration: none;
 color: white;
 font-size: medium;
 transition: all 0.3s;
}
nav ul li a:hover {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    transform: scale(1.0);
   }